@charset "UTF-8";
/* шрифты */
@font-face {
  font-family: "IDBC";
  src: url("../font/IntroDemo-BlackCAPS.otf");
}
@font-face {
  font-family: "IDCLC";
  src: url("../font/Arimo-VariableFont_wght.ttf");
}
:root{
  --swiper-navigation-color: #5B9F70 !important;
  --swiper-navigation-size: 48px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
}
/* header */
header .header {
  /* header-navigation */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}
header .header__menu .burger-button {
  /* бургер меню */
  position: relative;
  z-index: 9;
  padding: 8px;
  cursor: pointer;
}
header .header__menu .burger-button span {
  width: 40px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .header__menu .burger-top, header .header__menu .burger-bottom {
  position: absolute;
}
header .header__menu .burger-top {
  top: -2px;
}
header .header__menu .burger-bottom {
  bottom: -2px;
}
header .header__menu .burger-button.active .burger-top {
  position: absolute;
  top: 8px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
header .header__menu .burger-button.active .burger-middle {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
header .header__menu .burger-button.active .burger-bottom {
  position: absolute;
  bottom: 8px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
header .header__menu .burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0vh;
  left: 100vw;
  right: -100vw;
  bottom: 0vh;
  background-color: #5B9F70;
  padding: 5px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header__menu .burger-menu.active {
  left: 50vw;
  right: 0;
}
header .header__menu .burger-menu a {
  font-family: "" IDBC;
  font-weight: 900;
  font-size: 40px;
  color: #fff;
  display: block;
  padding: 20px 15px;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
header .header__menu .burger-menu a.check {
  background-color: #49815b;
}
header .header__menu .burger-menu a:hover {
  background-color: #80df9e;
  color: #000;
}
header .main {
  /* основная часть */
  background-image: url("../img/header_main_fon.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-block: 190px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
header .main h3 {
  font-size: 40px;
  color: #5B9F70;
}
header .main__title {
  background-color: #fff;
  padding-block: 60px;
  width: 100%;
  text-align: center;
}
header .main__title h2 {
  font-size: 64px;
}
header .main__title h2 span {
  color: #5B9F70;
}
header .main h4 {
  color: #256037;
  font-size: 52px;
}
header .main a {
  background: #5B9F70;
  color: #fff;
  border-radius: 30px;
  font-size: 32px;
  line-height: 36.8px;
  padding: 20px 40px;
  border: none;
  outline: none;
  font-family: "IDBC";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
header .main a:hover {
  background: #49815b;
  color: #fff;
  border-radius: 30px;
  font-size: 32px;
}

@media screen and (max-width: 1240px) {
  header .header {
    padding-inline: 20px;
  }
}
@media screen and (max-width: 860px) {
  header .main h3 {
    font-size: 24px;
  }
  header .main .main__title h2 {
    font-size: 32px;
  }
  header .main h4 {
    font-size: 28px;
  }
  header .main a {
    font-size: 24px;
    border-radius: 500px;
  }
  header .main a:hover {
    background: #5B9F70;
    color: #fff;
    border-radius: 500px;
    font-size: 24px;
  }
  header .main a:active {
    background: #49815b;
    color: #fff;
    border-radius: 500px;
    font-size: 24px;
  }
}
@media screen and (max-width: 530px) {
  header .header {
    padding-inline: 10px;
  }
  header .main h3 {
    font-size: 20px;
  }
  header .main .main__title {
    padding: 40px 20px;
  }
  header .main .main__title h2 {
    font-size: 28px;
  }
  header .main h4 {
    font-size: 24px;
  }
}
/* footer */
footer {
  background-image: url("../img/footer_fon.png");
  background-size: cover;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container .footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container .footer__wraper .footer__text {
  /* контакты */
  color: #256037;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, .5);
  padding: 20px;
  border-radius: 15px;
}
footer .container .footer__wraper .footer__text .op {
  margin-top: 20px;
}
footer .container .footer__wraper .footer__text .op h4 {
  font-weight: 400;
}
footer .container .footer__wraper .footer__text .email a {
  color: #256037;
  font-size: 24px;
  font-weight: 900;
}
footer .container .footer__wraper .footer__navigation ul {
  /* навигация по сайту */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer .container .footer__wraper .footer__navigation ul a {
  color: #256037;
  font-size: 20px;
}
footer .container .footer__wraper .footer__navigation ul a:hover {
  border-bottom: 1px solid #256037;
}

@media screen and (max-width: 930px) {
  footer .container .footer__wraper {
    margin-top: 40px;
    width: 100%;
    gap: 40px;
  }
}
@media screen and (max-width: 715px){
  footer .container .footer__wraper{
    flex-direction: column;
    align-items: center;

    & nav ul{
      align-items: center;

      & li a{
        background-color: rgba(255, 255, 255, .5);
      }
    }
  }
  footer{
    padding-bottom: 30px;
  }
}
/* базовые настройки */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* ::after,
* ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
* ::-webkit-scrollbar {
  /* 
      настройка скроллбара 
      для других браузеров 
  */
  width: 10px;
}
* ::-webkit-scrollbar-track {
  background: #ffffff;
}
* ::-webkit-scrollbar-thumb {
  background-color: #5B9F70;
  border-radius: 10px;
  border: 0px none #ffffff;
}

body {
  font-family: "IDCLC";
  font-size: 16px;
  font-weight: 400;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body h1,
body h2 {
  font-family: "IDBC";
}
body.lock{
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  padding-inline: 20px;
}

/* main */
main .info-project .container .info-project__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-block: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .info-project .container .info-project__wraper .info-project__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
main .info-project .container .info-project__wraper .info-project__text h2 {
  font-size: 40px;
  color: #5B9F70;
}
main .info-project .container .info-project__wraper .info-project__text p {
  width: 660px;
  font-size: 24px;
  line-height: 27.6px;
}
main .info-project .container .info-project__wraper .info-project__text p.info-project__paragraph_grean-back-dark {
  background-color: #256037;
  padding: 20px 40px;
  color: #ffffff;
  border-radius: 15px;
}
main .info-project .container .info-project__wraper .info-project__img img {
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
}
main .info-mesto {
  /* информация о месте */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
main .info-mesto article {
  background-color: #F6F6F6;
  padding-block: 40px;
}
main .info-mesto article .container .info-mesto__title-wraper h2 {
  color: #5B9F70;
  font-size: 48px;
}
main .info-mesto .container .info-mesto__wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
main .info-mesto .container .info-mesto__wraper .block5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: #5B9F70;
  padding: 20px;
  color: #fff;
  border-radius: 15px;
  height: 100%;
}
main .info-mesto .container .info-mesto__wraper .block5 p {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .info-mesto .container .info-mesto__wraper .block4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
main .info-mesto .container .info-mesto__wraper .block2 {
  color: #256037;
}
main .info-mesto .container .info-mesto__wraper .block {
  font-size: 24px;
  font-weight: 900;
}
main .galary {
  /* галерея */
  background-color: #F6F6F6;
  margin-block: 40px;
  padding-bottom: 40px;
}
main .galary article {
  padding-block: 40px;
}
main .galary article h2 {
  color: #5B9F70;
  font-size: 48px;
}
main .galary swiper-container {
  width: 100%;
  height: 400px;
}
main .galary swiper-container swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 15px;
}
main .galary swiper-container swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .map article h2 {
  /* карта */
  font-size: 48px;
  color: #5B9F70;
}
main .map .container .map__wraper .map__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 20px 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
main .map .container .map__wraper .map__blocks .map__block {
  background-image: url("../img/map.png");
  background-repeat:no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  position: relative;
}
main .map .container .map__wraper .map__blocks .map__block .item {
  width: 50px;
  height: 50px;
  background-color: rgba(200, 230, 200, 0.7);
  border: 2px solid #5B9F70;
  border-radius: 5px ;
  position: absolute;
  cursor: pointer;
}
main .map .container .map__wraper .map__blocks .map__block .item1 {
  left: 18%;
  top: 33%;
}
main .map .container .map__wraper .map__blocks .map__block .item2 {
  left: 10%;
  bottom: 20%;
}
main .map .container .map__wraper .map__blocks .map__block .item3 {
  left: 27%;
  bottom: 20%;
}
main .map .container .map__wraper .map__blocks .map__block .item4 {
  left: 35%;
  bottom: 16%;
}
main .map .container .map__wraper .map__blocks .map__block .item5 {
  left: 48%;
  top: 34%;
}
main .map .container .map__wraper .map__blocks .map__block .item6 {
  right: 43%;
  bottom: 30%;
}
main .map .container .map__wraper .map__blocks .map__block .item7 {
  right: 35%;
  bottom: 35%;
}
main .map .container .map__wraper .map__blocks .map__block .item8 {
  right: 31%;
  bottom: 20%;
}
main .map .container .map__wraper .map__blocks .map__block .item9 {
  right: 7%;
  bottom: 18%;
}
main .map .container .map__wraper .map__blocks .map__block .item10 {
  right: 10%;
  bottom: 48%;
}
main .map .container .map__wraper .map__blocks .map__block .item11 {
  right: 8%;
  top: 28%;
  outline: none !important;
}
main .map .container .map__wraper .map__blocks .map__sum {
  border-radius: 15px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding: 20px;
}
main .map .container .map__wraper .map__blocks .map__sum {
  color: #5B9F70;
  font-size: 48px;
  font-weight: 400;
}
main .map .container .map__wraper .map__blocks .map__sum .sum div h4 {
  font-size: 24px;
  font-weight: 400;
}
main .map .container .map__wraper .map__blocks .map__sum .sum div h4 span {
  color: #5E5E5E;
}
main .map .container .map__wraper .map__blocks .map__sum hr {
  background: #5B9F70;
  height: 2px;
}
main .map .container .map__wraper .map__blocks .full-sum{
  height: 250px;
}
main .map .container .map__wraper .map__blocks .full-sum h3 {
  font-size: 32px;
  color: #000;
}
main .map .container .map__wraper .map__blocks .full-sum h3 span {
  color: #000;
}
main .map .container .map__wraper .map__blocks button {
  text-align: center;
  background: #5B9F70;
  color: #fff;
  border-radius: 30px;
  font-size: 32px;
  border: none;
  outline: none;
  font-family: "IDBC";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  padding-block: 20px;
}
main .map .container .map__wraper .map__blocks button:hover {
  background: #49815b;
  color: #fff;
  border-radius: 30px;
  font-size: 32px;
}
main .map .container .map__wraper .map__blocks .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}
main .map .container .map__wraper .map__blocks .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  width: 400px;
}
main .map .container .map__wraper .map__blocks .modal-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
main .map .container .map__wraper .map__blocks .modal-content form div:has(label.checkBox){
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-content: center;

  & .checkBoxLabel{
    font-size: 16px !important;
    float: left;
  }
  & .checkBox {
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #000;
    cursor: pointer;
  }
  
  & .checkBox div {
    width: 60px;
    height: 60px;
    background-color: #000;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
  }
  
  & .checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
  }
  
  & .checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
  }
  
  & .transition {
    transition: 300ms ease;
  }
}
main .map .container .map__wraper .map__blocks .modal-content form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:10px;
}
main .map .container .map__wraper .map__blocks .modal-content form div label {
  color: #49815b;
  font-size: 20px;
}
main .map .container .map__wraper .map__blocks .modal-content form div input,
main .map .container .map__wraper .map__blocks .modal-content form div select {
  width: 100%;
  background-color: lightgray;
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 15px;
}
main .map .container .map__wraper .map__blocks .modal-content form div button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
  margin-top: 20px;
}
main .map .container .map__wraper .map__blocks .close-button {
  padding-inline: 7px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgray;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  right: 10px;
  top:10px;
}
main .map .container .map__wraper .map__blocks .close-button:hover {
  background-color: darkgray;
  color: #fff;
}
main .map .container .map__wraper .map__blocks .show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
  z-index: 9999;
}
main .map .container .map__wraper .map__blocks .mySwiper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
main .map .container .map__wraper .map__blocks swiper-container {
  width: 100%;
  height: 400px;
  background-color: #F6F6F6;
  border-radius: 15px 15px 0 0;
  padding: 20px;
  overflow: visible;
  cursor: pointer;
}
main .map .container .map__wraper .map__blocks swiper-container swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;

  & .text{
    justify-self: flex-end;
    align-self: center;
    text-align: center;
    margin-bottom: 10px;
    width: 400px;
  }
}
main .map .container .map__wraper .map__blocks swiper-container swiper-slide img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
main .timer {
  margin-top: 40px;
  background-color: #5B9F70;
  height: 440px;
}

.object.selected {
  background-color: rgba(0, 0, 0, 0.5); /* Черный полупрозрачный фон */
}

@media screen and (max-width: 1190px) {
  main .info-project .container .info-project__wraper .info-project__text {
    gap: 10px;
  }
  main .info-project .container .info-project__wraper .info-project__text .info-project__paragraph {
    width: 500px;
    background-color: #5B9F70;
    padding: 20px;
    color: #fff;
    border-radius: 15px;
  }
}
@media screen and (max-width: 1030px) {
  main .info-project .container .info-project__wraper .info-project__img img {
    width: 300px;
  }
}
@media screen and (max-width: 950px) {
  main .info-project .container .info-project__wraper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .info-project .container .info-project__wraper .info-project__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  main .info-project .container .info-project__wraper .info-project__text .info-project__paragraph {
    width: 90%;
  }
  main .info-project .container .info-project__wraper .info-project__img {
    display: none;
  }
  main .info-mesto .info-mesto__title .container .info-mesto__title-wraper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .info-mesto .container .info-mesto__wraper {
    gap: 10px;
  }
  main .info-mesto .container .info-mesto__wraper .block {
    font-size: 16px;
    padding: 20px;
    color: #fff;
    border-radius: 15px;
  }
  main .info-mesto .container .info-mesto__wraper .block3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .info-mesto .container .info-mesto__wraper .block4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main .info-mesto .container .info-mesto__wraper .block5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  main .info-mesto .container .info-mesto__wraper .block5,
  main .info-mesto .container .info-mesto__wraper .block1 {
    background-color: #5B9F70;
  }
  main .info-mesto .container .info-mesto__wraper .block2,
  main .info-mesto .container .info-mesto__wraper .block3,
  main .info-mesto .container .info-mesto__wraper .block4 {
    background-color: #256037;
  }
}
@media screen and (max-width: 880px) {
  main .galary .container .galary__wraper .galary__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .map .container .map__wraper .map__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .map .container .map__wraper .map__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .map .container .map__wraper .map__blocks .places{
    display: grid;
    height:auto;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap:10px;
    position:static;
    padding:10px;
     
    & .item{
      position: static;
      width:auto;
      height:150px;
      overflow: hidden;

      & img{
      width: 100%;
      height: 80% !important;
      object-fit: cover;
      }
    }
  }
  main .map .container .map__wraper .map__blocks .map__sum {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}
@media screen and (max-width:390px){
  main .info-mesto .container .info-mesto__wraper .block {
    padding: 10px;
    border-radius: 10px;
    align-content: center;

    & p{
      font-size: 12px;
      padding: 0px;
    }
  }
}
@media screen and (max-width:365px){
  main .info-mesto .container .info-mesto__wraper{
    grid-template-columns: 1fr;

    & .block3{
      grid-column: 1 / 2;
    }
    & .block2{
      grid-column: 1 / 2;
    }
    & .block5{
      grid-column: 1 / 2;
    }
    & .block4{
      grid-column: 1 / 2;
    }
    & .block1{
      grid-column: 1 / 2;
    }
  }
}
.selected {
  outline: 2px solid #256037;
}