doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title 
        // css
        block css
    body 
        block content 

        script.
            var scene = document.getElementById('scene');
            var parallax = new Parallax(scene);