@import "../include/header.scss";
@import "../include/footer.scss";

/* базовые настройки */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* 
        настройка  скроллбара
        для firefox
    */
    scrollbar-width: none;
    scrollbar-color: #1eb821 #ffffff;
    scroll-behavior: smooth;

    ::after,
    ::before{
        box-sizing: inherit;
    }
    ::-webkit-scrollbar {
        /* 
            настройка скроллбара 
            для других браузеров 
        */
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #ffffff;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #1eb821;
        border-radius: 10px;
        border: 0px none #ffffff;
    }
}
body{
    font-family: "IDCLC";
    font-size: 16px;
    font-weight: 400;

    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    h1,
    h2{
        font-family: "IDBC";
    }
}
.container{
    max-width: 1440px;
    margin: 0px auto;
}
/* main */
main{
    .info-project{
        .container .wraper{
            display: flex;
            width: 100%;
            margin-block: 150px;
            justify-content: space-between;
            align-items: center;
            padding-inline: 10px;

            .info-project__text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap:40px;

                h2{
                    font-size: 40px;
                    color:#5B9F70;
                }
                p{
                    width: 660px;
                    font-size: 24px;
                    line-height: 27.6px;

                    &.info-project__paragraph_grean-back-dark{
                        background-color: #256037;
                        padding: 20px;
                        color:#ffffff;
                        border-radius: 15px;
                    }
                }
            }
            .info-project__img{
                img{
                    width: 500px;
                    object-fit: cover;
                    object-position: left center;
                }
            }
        }
    }
}