@import "../include/header.scss";
@import "../include/footer.scss";

/* базовые настройки */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* 
        настройка  скроллбара
        для firefox
    */
    scrollbar-width: none;
    scrollbar-color: #1eb821 #ffffff;
    scroll-behavior: smooth;

    ::after,
    ::before{
        box-sizing: inherit;
    }
    ::-webkit-scrollbar {
        /* 
            настройка скроллбара 
            для других браузеров 
        */
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #ffffff;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #1eb821;
        border-radius: 10px;
        border: 0px none #ffffff;
    }
}
body{
    font-family: "IDCLC";
    font-size: 16px;
    font-weight: 400;

    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    h1,
    h2{
        font-family: "IDBC";
    }
}
.container{
    max-width: 1440px;
    margin: 0px auto;
    padding-inline: 10px;
}
/* main */
main{
    .info-project{
        .container .info-project__wraper{
            display: flex;
            width: 100%;
            margin-block: 150px;
            justify-content: space-between;
            align-items: center;

            .info-project__text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap:40px;

                h2{
                    font-size: 40px;
                    color:#5B9F70;
                }
                p{
                    width: 660px;
                    font-size: 24px;
                    line-height: 27.6px;

                    &.info-project__paragraph_grean-back-dark{
                        background-color: #256037;
                        padding: 20px 40px;
                        color:#ffffff;
                        border-radius: 15px;
                    }
                }
            }
            .info-project__img{
                img{
                    width: 500px;
                    object-fit: cover;
                    object-position: left center;
                }
            }
        }
    }
    .info-mesto{
        /* информация о месте */
        display: flex;
        flex-direction: column;
        gap:40px;

        article{
            background-color: #F6F6F6;
            padding-block: 40px;

            .container .info-mesto__title-wraper {
                h2{
                    color:#5B9F70;
                    font-size: 48px;
                }
            }
        }
        .container .info-mesto__wraper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .block5{
                grid-row: 2 / 4;
                grid-column: 2 / 3;
                background-color: #5B9F70;
                padding: 20px;
                color:#fff;
                border-radius: 15px;
            }
            .block4{
                grid-row: 1 / 2;
                grid-column: 2 / 3;
            }
            .block2{
                color: #256037;
            }
            .block{
                font-size: 24px;
                font-weight: 900;
            }
        }
    }
    .galary{
        /* галерея */
        background-color: #F6F6F6;
        margin-block: 40px;
        padding-bottom: 40px;

        article{
            padding-block: 40px;

            h2{
                color:#5B9F70;
                font-size: 48px;
            }
        }
        swiper-container {
            width: 100%;
            height: 250px;

            swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
    
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .map{
        /* карта */
        display: grid;
    }
}