header
    // мини-навигация
    .header
        section.header__logo 
            a(href="index.html") 
                img(src="img/logo.png", alt="")
        nav.header__menu
            .burger-button.header__menu_button
                span.burger-top.burger
                span.burger-middle.burger
                span.burger-bottom.burger
            .burger-menu
                a.check(href='index.html') Главная
                a(href='check_admin.php') Админу
    // основной большой блок
    .main 
        h3 Звездные увалы
        aticle.main__title 
            h2 Проголосовало 
                span 
                    | 50 
                | человек
        h2 Проголосуйте и вы
        a(href="#map") Голосовать 