header
    .header
        section.header__logo 
            img(src="", alt="")
        nav.header__menu
            .burger-button.header__menu_button
                span.burger-top.burger
                span.burger-middle.burger
                span.burger-bottom.burger
            .burger-menu
                a(href='') Home
                a(href='') Food