header
    .header
        section.header__logo 
            img(src="/img/logo.png", alt="")
        nav.header__menu
            .burger-button.header__menu_button
                span.burger-top.burger
                span.burger-middle.burger
                span.burger-bottom.burger
            .burger-menu
                a(href='index.html') Главная
                a(href='check_admin.php') Админу